
@model UserViewModel
@{
    ViewData["Title"] = "Manage Users";
    Layout = "_Layout";
}
<h1>Manage Users</h1>
<table class="table table-bordered">
    <thead>
        <tr></tr>
    <th>Username</th>
    <th>Roles</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr><td colspan="5"></td>There are no users</tr>
        }
        else
        {
            @foreach (User user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @foreach (string roleName in user.RoleNames)
                        {
                            <div>@roleName</div>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger">Delete User</button>
                        </form>
                    </td>
                    @if (user.RoleNames.Contains("admin"))
                    {
                        <td>
                            <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-primary">Remove Admin Role</button>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>
                            <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-primary">Add Admin Role</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<h1>Manage Roles</h1>
@if (Model.Roles.Count() == 0)
{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-primary">Create Admin Role</button>
    </form>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
